@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

:root {
  /*Fuentes*/
  --font-Poppins: "Poppins", sans-serif;
  --font-Nunito: "Nunito", sans-serif;

  /*Colores*/
  --AzulPrincipal: #264653;
  --AzulClaro: #88b8cb;
  --Naranja: #e76f51;
  --Amarillo: #e9c46a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  min-width: 375px;
  background-color: var(--AzulPrincipal);
}

/*=================
Header
===================*/
header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font-Nunito);
  padding: 5px;
}

#div-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
   min-width: 0;
}

#div-header-title h1 {
  font-size: clamp(1rem, 4vw, 2rem);
}

#div-header-title p {
  font-size: 0.8rem;
}

.logo {
  width: 110px;
  height: 110px;
}

#div-header-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#btn-hambIcon {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn-hambIcon:hover {
  background-color: var(--Naranja);
}

#btn-userIcon {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn-userIcon:hover {
  background-color: var(--Naranja);
}

.btn-notificationsIcon{
    background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-notificationsIcon:hover{
    background-color: var(--Naranja);
}

/*==================
Main
====================*/
#home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}

h2 {
  color: white;
}

main {
  margin: 2rem;
  display: flex;
  padding: 35px;
  border-radius: 28px;
  box-shadow: inset 50px 50px 60px #203c47, inset -50px -50px 60px #324e58;
  gap: 2rem;
}

#main-container-campanias {
  flex: 2;
}

#main-container-nitifications {
  flex: 1;
}

/*======================
Barra de busqueda
========================*/
#main-searchBar {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 8px;

  border-radius: 59px;
  background: #264653;
  box-shadow: inset 20px 20px 40px #203c47, inset -20px -20px 40px #000000;

  width: 100%;
  max-width: 400px;
}

#main-searchBar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  color: white;
}

#main-searchBar input::placeholder {
  color: white;
}

/*==================
Tabs
====================*/
#main-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 400px;

  border-radius: 59px;
  background: #264653;
  box-shadow: inset 20px 20px 40px #203c47, inset -20px -20px 40px #000000;

  padding: 6px;
  gap: 6px;
}

#main-tabs button {
  color: white;
  flex: 1;
  padding: 8px 0;

  background: transparent;
  border: none;
  border-radius: 59px;

  font-size: 16px;
  cursor: pointer;
}

#main-tabs button:hover {
  background: var(--Naranja);
}

/*=======================================================
Media para ocultar notificaciones, y modificar el header
=========================================================*/
@media (max-width: 539px) { /*504*/
  #div-header-title p {
    font-size: 0.6rem;
  }

  .logo {
    width: 90px;
    height: 90px;
  }

  #main-container-nitifications {
    display: none;
  }

  #main-container-campanias {
    flex: 1;
  }
}